<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<script src="../js/lib/angular.js"></script>
<script src="../js/lib/bootstrap.min.js"></script>
<link href="../css/bootstrap.min.css" rel="stylesheet">

<script>
    angular.module("myApp",[]).controller("QuestionSettingCtrl",function($scope, $timeout){
        //timer
        var NowTime = new Date();
        var updateClock = function(){
            var EndTime= new Date();
            var t =EndTime.getTime() - NowTime.getTime();
            var h=Math.floor(t/1000/60/60%24);
            var m=Math.floor(t/1000/60%60);
            var s=Math.floor(t/1000%60);
            $scope.clock = h + "时" +  m + "分"+ s + "秒";
            $timeout(function(){
                updateClock();
            },1000);
        }

        updateClock();


        //paper test
        $scope.items =[
            {test:"test1", op1:"o11", op2:"o12", op3:"o13", op4:"o14", answer:""},
            {test:"test2", op1:"o21", op2:"o22", op3:"o23", op4:"o24", answer:""},
            {test:"test3", op1:"o31", op2:"o32", op3:"o33", op4:"o34", answer:""},
        ];
        $scope.answer = [];
        var submitFlag = true;
        $scope.submit = function(){
            if(checkIfNullAnswer($scope.items)){
                var confirmFlag = confirm("有未做完的题目，是否提交");
                confirmFlag == true ? submitFlag = true : submitFlag = false;
            }
            if(submitFlag){
                alert(JSON.stringify($scope.items));
            }

        }
    });

    //if there is any question that have not been answered
    function checkIfNullAnswer(data){
        var flag = false;
        for(var i=0; i<data.length; i++){
            if(data[i].answer.length<1){
                flag = true;
                break;
            }
        }
        return flag;
    }
</script>
<body data-ng-controller="QuestionSettingCtrl">
<nav class="navbar navbar-default navbar-fixed-top">
    <img src="../images/dbschenker-logo.jpg" height="50" width="83" />
    <small>您已用时:{{clock}}</small>

</nav>
<div class="container" >
    <div class="jumbotron" data-ng-repeat="item in items">
        <h3 data-ng-bind="$index+1 +'、 '+item.test" colSpan="4"></h3>
        <table class="table table-striped">
            <tr>
                <td><input type="radio" value="A" data-ng-model="item.answer" />A <span data-ng-bind="item.op1"></span>  </td>
            </tr>
            <tr>
                <td><input type="radio" value="B" data-ng-model="item.answer" />B <span data-ng-bind="item.op2"></span>  </td>
            </tr>
            <tr>
                <td><input type="radio" value="C" data-ng-model="item.answer" />C <span data-ng-bind="item.op3"></span>  </td>
            </tr>
            <tr>
                <td><input type="radio" value="D" data-ng-model="item.answer" />D <span data-ng-bind="item.op4"></span>  </td>
            </tr>
        </table>
        <br>
        <br>
    </div>
    <div class="text-center"><button class="btn btn-primary" style="margin: 0 auto;" data-ng-click="submit()">提交</button></div>
    <br><br><br><br>
</div>
</body>
</html>