<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<link href="../css/foundation.css" rel="stylesheet">
<body>
<table>
    <thead>
    <tr>
        <th width="200" ng-click="sortName()">Name</th>
        <th>Email</th>
        <th width="150">Department</th>
        <th width="150">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="person in persons.data">
        <td>{{person.name}}</td>
        <td>{{person.email}}</td>
        <td>{{person.department}}</td>
        <td>{{person.status}}</td>
    </tr>
    </tbody>
</table>
</body>
</html>